@import './style/reset.css';
@font-face {
  font-family: Noto Serif TC;
  src: url(fonts/NotoSerifTC-VariableFont_wght.ttf);
}
@font-face {
  font-family: Noto Sans TC;
  src: url(fonts/NotoSansTC-VariableFont_wght.ttf);
}
body{
  background: #1D1810;
  font-family: Noto Serif TC;
}
